.container {
  /**
   vertical to horizontal
   */
  display: flex;
  padding-top: 80px;
  justify-content: center;
  justify-content: space-around;
}

.box {
  border: 10px solid black;
  width: 500px;
}

.object {
  width: 500px;
}
